FIREBASE_EMAIL 		  = "<enter_your_firebase_login_email>"
FIREBASE_PW 		    = "<enter_your_firebase_login_pw>"
FIREBASE_API_KEY 	  = "<enter_your_firebase_api_key>"
FIREBASE_PROJECT_ID = "<enter_your_firebase_project_id>"
WIFI_SSID           = ''
WIFI_PW             = ''